<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="start">
        <h1>Hello!</h1>
        <b>Дорогие друзья, это сайт был сделан для того чтобы порекомендовать вам, способ веселого и полезного времени препровождения. А именно рекомендация фильмов, сериалов, книг и аниме. При помощи этих прекрасных вещей, человек может ненадолго(а может и надолго) погрузится в фэнтезийный мир. При помощи просмотра фильмов, сериалов или аниме, мы можем отвлечься на интересные истории, и тем самым немного отвлечься. А книги - это совмещения приятного с полезным, и они тоже затягивают нас в интересные истории.
Перед началом перечисления, хочу сказать что я не фанат всяких страшных хорроров, или же триллеров, а так как я(автор), рекомендую это всё чисто от себя без помощи нейросетей, то к сожалению или к счастью “страшных” фильмов здесь не будет  </b><br>
        <h2>Фильмы и сериалы</h2>
        <p>Фильмы и сериалы позволяют нам абстрагироваться от повседневных забот и полностью погрузиться в сюжет и персонажей. Мы сопереживаем героям, радуемся их успехам, грустим, смеёмся и даже плачем. В каждом фильме или сериале заложена определённая идея или мораль, которую автор хотел донести до зрителя. Эти истории вдохновляют, заставляют задуматься и порой меняют наше восприятие мира.</p>

        <h2>Книги</h2>
        <p>Книги — это не только увлекательное, но и полезное занятие. Они дают возможность переживать приключения вместе с героями, погружаться в их мысли и эмоции. Иногда книга может показаться скучной, но стоит найти свою — и оторваться уже невозможно. Даже те, кто раньше не любил читать, могут со временем стать заядлыми книголюбами. В моих рекомендациях будут не только художественные произведения, но и полезные книги, например, о финансах и управлении деньгами.</p>

        <h2>Аниме</h2>
        <p>Аниме — это ещё один замечательный способ отвлечься от реальности и погрузиться в мир фантазии. Многие относятся к этому формату с предубеждением из-за популярных субкультур, активно продвигающих определённые тайтлы. Однако это не означает, что всё аниме одинаковое. В этом жанре можно найти детективы, комедии, фэнтези и множество других увлекательных историй. Не стоит отказываться от просмотра, не попробовав хотя бы одно хорошее аниме!</p>
    </div>

</body>
</html>